{% extends 'base.html' %}
{% from 'bootstrap5/form.html' import render_form %}

{% block content %}

<h1>Cost List</h1>
<form action="{{ url_for('cost_list', tour_title=tour_title) }}" method="post">
    <select class="form-select" size="15" name="modify_item">
      {% for data in data_base %}
        <option value="{{ data[0] }}">{{ data[1] }}, $:{{ data[2] }}  {{ data[3] }}</option>
      {% endfor %}
    </select>
    <input name="cost_list_modify" type="submit" value="Modify">
</form>

<br>
<a href="{{ url_for('home', tour_title=tour_title) }}">Home</a>

{% endblock %}